@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>

</head>

<body>
    <div class="container">
    <form method="post" asp-page-handler="GoTillCart">
            <div class="Cart">
                <div>
                    <input type="submit" value="Gå til kurv" class="btn btn-primary">
                </div>
            </div>

    </form>

    <form method="post" asp-page-handler="AddTillCart">
            <div class="row">
                @foreach (var item in Model.Items)
                {
                    <div class="col-md-3 mt-5">
                        <div class="card h-100">
                            <img src="@item.ImagePath" class="card-img-top"/>

                            <div class="card-body">
                                <p class="card-text"><strong>@item.Name</strong></p>
                                 <div class="price">@item.Price,-</div>
                            </div>
                            <div class="card-footer">

                                <form method="post" asp-page-handler="SletKurv">
                                    <input type="number" name="quantity" value="1" min="1" class="form-control" />
                                    <input type="hidden" name="itemId" value="@item.Id" />
                                    <button class="btn btn-success">Tilføj til kurv</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
    </form>
    </div>

</body>