@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.Repo.CurrentUser != null)
{
    <h1><a href="UserFiles/Logins/Logout">Go logout please uwu</a></h1>
} else
{
    <h1><a href="UserFiles/Logins/Login">Go login please uwu</a></h1>
}