html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background-color: #F5A623;
}

header {
    background-color: #9B9B9B;
}
body {
    margin-bottom: 60px;
    background-color: #4A90E2;
}


/*
    ALT CSS HER ER INDEX
*/
/*Payment Method- continues until shown end*/
#payment .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

#payment .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

#payment .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

#payment .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

#payment .col-25,
#payment .col-50,
#payment .col-75 {
    padding: 0 16px;
}

#payment .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

#payment input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#payment .label {
    margin-bottom: 10px;
    display: block;
}

#payment.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

#payment .btn {
    /* background-color: #0465aa;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 80%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;*/
}

    #payment .btn:hover {
        /* background-color: #0465aa;*/
    }

#payment span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
#payment @media (max-width: 800px) {
    .row

{
    flex-direction: column-reverse;
}

.col-25 {
    margin-bottom: 20px;
}

}
/* end of payment info configuration */
.card{
    max-width:180px;
    margin:10px;
}

.card-body{
    padding:8px;
}

.card-img-top {
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    color: #27ae60;
    margin: 0;
    display: flex;
    justify-content: center;
}
.btn-success {
    display: block;
    margin: auto;
   background-color: rgba(0,0,0,.2);
}

b, strong{
    display: flex;
    justify-content: center;
}
.Name1st {
    font-size: small;
    font-family: cursive;
}

/*
    ALT CSS ER ORDERFILES/ORDERPAGES
*/

.table {
    width: 500px;
}


.container {
    display: flex;
    justify-content: center;
}

.Kurv {
    text-align: center;
}