@page
@model Z_Marked.Pages.OrderFiles.OrderPageModel
@{
}

<html>
<head>
    <title>Kurv</title>
</head>
<body>
    <h1 class="Kurv">Kurv</h1>
    <div class="container mt-3">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Varer</th>
                <th>Navn</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Model.Item item in Model.Items)
            {
                <tr>
                    <td>
                        <img style="height:80px;" src="@item.ImagePath" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price Kr.</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <label>Samlet beløb </label> : @Model.TotalAmount Kr.
</body>
</html>