@page
@model Z_Marked.Pages.Items.DeleteItemModel
@{
}
<form method="post">
    <input type="number" asp-page="./DeleteConfirmation" asp-page-handler="ItemToDelete" asp-route-id="1" placeholder="Indtast item ID" />
    <input type="submit" />
</form>