@page
@model Z_Marked.Pages.Items.DeleteItemModel
@{
}
<form method="get" asp-page="DeleteConfirmation" asp-page-handler="ItemToDelete" asp-route-id="ID">
    <input type="number" asp-for="ID" placeholder="Indtast item ID" />
    <input type="submit" />
</form>