@page
@model Z_Marked.Pages.UserFiles.Logins.LoginModel
@{
}
<form method="post">
    <input type="text" asp-for="UserName" placeholder="Type username here"/>
    <input type="password" asp-for="Password" placeholder="Type password here"/> 
    <input type="submit"/> 
</form>