@page
@model Z_Marked.Pages.UserFiles.Logins.LogoutModel
@{
}
<h1>Er du sikker på at du vil logge ud? FR FR</h1>
<form method="post">
    <input type="submit" asp-page-handler="Log" asp-route-logud="false"/>
    <input type="submit" asp-page-handler="Log" value="Jada" asp-route-logud="true" />
</form>